{% extends 'base.html'%}
{% load static%}
{%block title%}IFRI | Event Manage{%endblock%}
{%block content%}
        <div  class="back bg-transparent  mt-2 text-white px-5 py-5 items-center flex justify-evenly  rounded-md min-h-[175px]">
           <div class="bg-[#1d1d1d7e] px-5 py-3 rounded-md">
            <h1 class="text-2xl md:text-3xl xl:text-4xl font-bold">Rester informer et <br/> marquer votre présence dans la <br/>communauté</h1>
        </div>

        </div>

        <div class="mt-8">
            <div class="flex justify-center min-h-[300px] items-center ">

                    <h1 class="font-bold text-2xl xl:text-3xl 2xl:text-4xl">COMING SOON</h1>
            </div>


        </div>
        <hr class="my-8 h-px bg-gray-200 border-0 dark:bg-gray-700">
{%endblock%}









